
Library/

obj/

\.vs/

Temp/

Logs/

Assets/EntityCache/

Assets/EntityCache\.meta

Assembly-CSharp-Editor\.csproj

Assembly-CSharp\.csproj

HDRPMobile\.sln

Unity\.RenderPipelines\.Core\.Editor\.csproj

Unity\.RenderPipelines\.Core\.Editor\.Tests\.csproj

Unity\.RenderPipelines\.Core\.Runtime\.csproj

Unity\.RenderPipelines\.Core\.Runtime\.Tests\.csproj

Unity\.RenderPipelines\.Core\.ShaderLibrary\.csproj

Unity\.RenderPipelines\.HighDefinition\.Editor\.csproj

Unity\.RenderPipelines\.HighDefinition\.Editor\.Tests\.csproj

Unity\.RenderPipelines\.HighDefinition\.Runtime\.csproj

Unity\.RenderPipelines\.HighDefinition\.Runtime\.Tests\.csproj

Unity\.RenderPipelines\.ShaderGraph\.ShaderGraphLibrary\.csproj

Unity\.ShaderGraph\.Editor\.csproj

Unity\.ShaderGraph\.Editor\.Tests\.csproj
